:root {
    /* Colors: */
    --akzente-buttons: #49BCFF;
    --beschriftung: #7E7E7E;
    --disabled: #b1b1b1;
    --text: #3D3D3D;
    --error-background: #F658581A;
}

body {
    font: normal normal normal 18px/24px Open Sans;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

input {
    border: 2px solid var(--akzente-buttons);
    background: white 0% 0% no-repeat padding-box;
    padding: 1em;
    opacity: 1;
    height: 1.5em;
}

input {
    color: var(--beschriftung);
    text-align: left;
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0px;
    color: #7E7E7E;
    opacity: 1;
}

button {
    background: var(--akzente-buttons) 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
    height: 3.5em;
}

button {
    text-align: center;
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 1;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--text);
    text-align: left;
    font: normal normal bold 40px/50px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
}

h2 {
    color: var(--text);
    text-align: left;
    font: normal normal 600 24px/34px Open Sans;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}

.error {
    display: inline-grid;
    grid-template-columns: auto auto;
    background: var(--error-background) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1em;
    color: var(--text);
    text-align: left;
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: 0px;
    min-width: 0;
}

#status-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
}

.status-div {
    background-color: #7E7E7E1A;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5em;
    padding: 1em;
    color: var(--text);
    text-align: left;
    font: normal normal normal 18px/28px Open Sans;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}

.status-img {
    height: 4.4em;
    aspect-ratio: 24/30;
}

.status {
    border: 0.5px solid #3E3E3E;
    padding: 0.5em;
    min-width: 12em;
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: 0.72px;
    color: #3E3E3E;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
}

.rejection-error {
    color: var(--text);
    text-align: left;
    font: normal normal normal 18px/28px Open Sans;
    letter-spacing: 0px;
}

#app,
#login-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
    min-height: calc(100vh - 4em);
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    bottom: 0;
    left: 0;
    /*right: 0;*/
    padding: 1em;
    color: var(--text);
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0px;
    color: #3D3D3D;
    background-color: white;
    opacity: 1;
}

footer>* {
    cursor: pointer
}

#login-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

#big-logo {
    width: 13.5em;
}

#big-logo-bg {
    margin-left: auto;
    margin-right: 0;
    width: 29em;
    height: 29em;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

#login-side {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 22em;
    max-height: calc(100vh - 4em);
    ;
}

.photo-upload {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 2px dashed var(--beschriftung);
    background: #F3F3F3 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    text-align: center;
    font: normal normal 600 18px/25px Open Sans;
    letter-spacing: 0px;
    color: #8D8D8D;
    opacity: 1;
}

input[type="file"] {
    display: none;
}

.grid-w-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

#photo-upload-text {
    text-align: center;
    font: normal normal 600 18px/25px Open Sans;
    letter-spacing: 0px;
    color: #8D8D8D;
    opacity: 1;
}

#explainer {
    border-left: 3px solid var(--akzente-buttons);
    padding-left: 1.5em;
}

#upload-button {
    width: 20em;
    margin: 5em;
}

#upload-button:disabled {
    background: var(--disabled)
}

.upload-successfull > * {
    display: flex;
    justify-content: center;
}

.upload-successfull-text {
    color: var(--text);
    text-align: center;
    font: normal normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}

.doc {
    min-width: 100vw;
    min-height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}